<div class="container">

  <div class="container" *ngFor="let message of messages; let i = index">


    <div [ngClass]="message.username1 == usernameLoggedUser ? 'messULoggato' : 'messCrush'" class="m-4 p-4">
      <p>{{message.username1}} lo ha spedito in data {{message.time | datetime: true}}-- {{message.username2}} è destinatario</p>
      <p>{{message.message}}</p>
    </div>


  </div>

  <form [formGroup]="messageInput" (ngSubmit)="sendMessage()">

    <app-text-area label="" formControlName="message"></app-text-area>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!messageInput.valid">send!</button>
  </form>
</div>
