<p>Notifications</p>

<h2 class="mt-4" *ngIf="thereAreNoNotifications"> Evviva non ci sono nuove notifiche! </h2>


<ul *ngIf="!thereAreNoNotifications">
  <li *ngFor="let n of notifications; let i = index">
    <div [ngClass]="!n.visualized ? 'new-notification': ''"> <!--usare ngClass per modificare la visualizzazione della notifica se è visualized-->
      {{i+1}} - {{n.payload}} <span class="new-notification" *ngIf="!n.visualized">NEW!!</span>
    </div>
  </li>
  <button type="button" class="btn btn-success" (click)="deleteAllNotifications()">delete all notifications</button>
</ul>

<button type="button" class="btn btn-warning" (click)="refreshNotifications()">get notifications from BE</button>
