<div>
  <div>
    <ng-content select="[pics]"></ng-content>

  </div>
  <div>
    <ng-content select="[edit-i]"></ng-content>
    <div class="text-center d-flex flex-column justify-content-center align-items-center mt-4">
      <h3 class="dog-name">{{userDetails.dogName}}</h3>
      <ul>
        <li class="d-flex mb-4 mt-4">
          <img src="/assets/icons/002-back.png" alt="age-icon" class="t-icon info-icon">
          <div class="ml-4">{{userDetails.dogAge}} years old</div>
        </li>
        <li class="d-flex mb-4">
          <img src="/assets/icons/001-gender.png" alt="sex-icon" class="t-icon info-icon">
          <div class="ml-4">{{userDetails.dogSex|sex}}</div>
        </li>
        <li class="d-flex mb-4">
          <img src="/assets/icons/003-gold-medal.png" alt="breed-icon" class="t-icon info-icon">
          <div class="ml-4">breed: {{userDetails.breed}}</div>
        </li>
        <li class="d-flex mb-4">
          <img src="/assets/icons/004-owner.png" alt="owner-icon" class="t-icon info-icon">
          <div class="ml-4">this dog is owned by: {{userDetails.username}}</div>
        </li>
      </ul>
      <div class="container">
        <h4>Description</h4>
        <p>
          <i>{{userDetails.description ? userDetails.description : tempNoDescriptionPlaceholder}}</i>
        </p>
      </div>


    </div>
  </div>

  <div class="d-flex flex-row justify-content-around"><!--div like/dislike btns-->
    <img src="/assets/icons/022-heart-1.png" alt="like-i" class="t-icon" *ngIf="showLikeBtns" (click)="like()">
    <img src="/assets/icons/023-close.png" alt="dislike-i" class="t-icon" *ngIf="showLikeBtns" (click)="next()">
  </div>

  <!--<button type="button" class="btn btn-success" *ngIf="showLikeBtns" (click)="like()">like</button> &lt;!&ndash;lancia likeEvent al padre&ndash;&gt;
  <button type="button" class="btn btn-danger" *ngIf="showLikeBtns" (click)="next()">skippa</button>&lt;!&ndash;lancia nextEvent al padre&ndash;&gt;
  <button type="button" class="btn btn-primary" (click)="printUsernames()">print usernames</button>-->
</div>
