<div class="container">
  <div>
    <img height="100px" src="/assets/profiloA.jpg" alt="immagineDemo" class="circ">
  </div>
  <div>
    <div class="text-center">
      <h3>{{userDetails.dogName}}</h3>
      <h6>{{userDetails.dogAge}} yo,{{userDetails.dogSex|sex}} {{userDetails.breed}}...the owner is {{userDetails.username}}!</h6>
      <p>
        {{userDetails.description ? userDetails.description : tempNoDescriptionPlaceholder}}
      </p>

    </div>
  </div>

  <button type="button" class="btn btn-success" *ngIf="showLikeBtns" (click)="like()">like</button> <!--lancia likeEvent al padre-->
  <button type="button" class="btn btn-danger" *ngIf="showLikeBtns" (click)="next()">skippa</button><!--lancia nextEvent al padre-->
  <button type="button" class="btn btn-primary" (click)="printUsernames()">print usernames</button>
</div>
