<div class="container">

  <h2>{{isOfLoggedUser}}</h2>
  <a routerLink="/userDetails/modificaProfilo" *ngIf="isOfLoggedUser">Modifica profilo</a>
  <div>
    <img height="100px" src="/assets/profiloA.jpg" alt="immagineDemo">
  </div>
  <div>
    <div class="text-center">
      <h3>{{detailsUser.dogName}}</h3>
      <h6>{{detailsUser.dogAge}} yo, {{detailsUser.breed}}...the owner is {{detailsUser.username}}!</h6>
      <p>
        Cane sonato come pochi, passa le sue giornate a guardare nel vuoto meditabondo;
        probabile reincarnazione del Dio cane con la Cuccia.
      </p>

    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="like()" *ngIf="!isOfLoggedUser">like</button>
  <button type="button" class="btn btn-danger" (click)="next()"  *ngIf="!isOfLoggedUser">manda fanculo</button>
</div>
