<div class="container text-center">
<div class="row">
    <div class="col d-flex flex-column justify-content-center">
        <form [formGroup]="signupForm" (ngSubmit)="signup()">

          <app-input-string label="name" formControlName="name"  class="form-field"></app-input-string>

          <app-email label="email" formControlName="email" class="form-field"></app-email>

          <app-password label="password" formControlName="password" class="form-field"></app-password>

          <button type="submit" class="btn btn-primary mt-3" [disabled]="!signupForm.valid">Signup!</button>
        </form>
    {{errorMsg}}
    </div>

  </div>
</div>

