<div class="text-center">
    <app-navbar></app-navbar>

    <router-outlet ></router-outlet>
</div>


<!--<div class="mt-4 d-flex justify-content-center">
  <button type="button" class="btn btn-success" (click)="watchUserDetails()">log  all user details retrieved</button>
  <button type="button" class="btn btn-success" (click)="call()">Do test call to BE</button>
</div>
{{errorMessage}}
 <app-prova></app-prova>
-->



<hr>
<a href="https://www.flaticon.com/free-icons/tinder" title="tinder icons">Icons created by Freepik - Flaticon</a>
