<div class="text-center">

  <div class="fixed-top">
    <app-navbar></app-navbar>
  </div>

  <div class="main">
    <router-outlet ></router-outlet>
  </div>



</div>


<!--<div class="mt-4 d-flex justify-content-center">
  <button type="button" class="btn btn-success" (click)="watchUserDetails()">log  all user details retrieved</button>
  <button type="button" class="btn btn-success" (click)="call()">Do test call to BE</button>
</div>
{{errorMessage}}
 <app-prova></app-prova>
-->



<hr>
<footer class="fixed-bottom text-center zd-bg p-4">
  <a href="https://www.flaticon.com/free-icons/tinder" title="tinder icons">Icons created by Freepik - Flaticon</a>
</footer>

